<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Horse Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

    <body>
        <div th:include="fragments/header :: pagenav"></div>
        <div style="margin-left:25%;padding:1px 16px;height:1000px;">
            <h3>Horse Details:</h3>
           <table>
                <tr>
                    <th>Name</th><th>Age</th><th>Trainer</th>
                </tr>
                <tr>
                    <td th:text="${horse.name}"></td><td th:text="${horse.age}"></td><td><span th:text="${horse.trainer.firstName}"/> <span th:text="${horse.trainer.lastName}"/></td>
                </tr>
            </table>

            <h3>Races Results:</h3>
            <table>
                <tr>
                    <th>Win</th><th>Place</th><th>Show</th>
                </tr>
                <tr >
                    <td th:text="${history.wins}"></td>
                    <td th:text="${history.places}"></td>
                    <td th:text="${history.shows}"></th>
                </tr>
            </table>

            <h3>Races History:</h3>
                <table>
                    <tr>
                        <th>No.</th><th>Racecourse</th><th>View</th><th>Date</th><th>Position</th>
                    </tr>
                    <tr th:each="event, iterStat : ${events}" th:object="${event}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${event.event.racecourse}"></td>
                        <td th:text="${event.event.startDate}"></td>
                        <td><a th:href="@{/event/{id}(id=${event.event.id})}">Go</a></td>
                        <span th:if="${event.position} == 0">
                            <td>N/A</td>
                        </span>
                        <span th:if="${event.position} != 0">
                         <td th:text="${event.position}"></td>
                        </span>
                    </tr>
             </table>

        </div>

    </body>

</html>