<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome</title>

    </head>
    <body>

        <div class="event">

            <div>
                <p>Event starts at <span th:text="${event.startTime}"></span></p>
            </div>

                <table style="text-align: center; padding: 10px; margin: 5px;">
                        <tr>
                           <th>No.</th>
                           <th>Horse</th>
                           <th>Age</th>
                           <th>Jockey</th>
                           <th>Jockey Weight</th>
                           <th>Win Odds</th>
                           <th>Place Odds</th>
                           <th>Show Odds</th>
                       </tr>

                       <tr th:each="detail, iterStat : ${details}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${detail.horse.name}"></td>
                            <td th:text="${detail.horse.age}"></td>
                            <td> <span th:text="${#strings.substring(detail.horse.jockey.firstName, 0,1)}"/>. <span th:text="${detail.horse.jockey.lastName}"/></td>
                            <td th:text="${detail.horse.jockey.weight}"></td>
                            <td>
                                <form th:action="@{/bet/basket/add}" method="post">
                                    <input type="hidden" name="horse" th:value="${detail.horse.id}"/>
                                    <input type="hidden" name="betType" value="Win"/>
                                    <input type="hidden" name="event" th:value="${detail.event.id}"/>
                                    <input type="submit" name="oddValue" th:value="${detail.odds.winValue}"/>
                                </form>
                            <td>
                                <form th:action="@{/bet/basket/add}" method="post">
                                      <input type="hidden" name="horse" th:value="${detail.horse.id}"/>
                                      <input type="hidden" name="betType" value="Place"/>
                                      <input type="hidden" name="event" th:value="${detail.event.id}"/>
                                      <input type="submit" name="oddValue" th:value="${detail.odds.placeValue}"/>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/bet/basket/add}" method="post">
                                     <input type="hidden" name="horse" th:value="${detail.horse.id}"/>
                                     <input type="hidden" name="betType" value="Show"/>
                                     <input type="hidden" name="event" th:value="${detail.event.id}"/>
                                     <input type="submit" name="oddValue" th:value="${detail.odds.showValue}"/>
                                </form>
                            </td>
                       </tr>
                </table>
        </div>

    </body>
</html>