<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Add CreditCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

    <body>

        <div th:include="fragments/header :: pagenav"></div>
        <div style="margin-left:25%;padding:1px 16px;height:1000px;">
            <h1>Add Credit Card:</h1>

            <form th:action="@{/user/card/add}" th:object="${creditCard}" method="post">

                <div><label> Number : <input type="number" name="cardNumber"/> </label></div>
                <p th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">CardNumber Error</p>

                <div><label> Month Expiring : <input type="number" name="expiringMonth"/> </label></div>
                <p th:if="${#fields.hasErrors('expiringMonth')}" th:errors="*{expiringMonth}">MonthExpiring Error</p>

                <div><label> Year Expiring : <input type="number" name="expiringYear"/> </label></div>
                <p th:if="${#fields.hasErrors('expiringYear')}" th:errors="*{expiringYear}">YearExpiring Error</p>

                <div><label> CVV: <input type="number" name="cvv"/> </label></div>
                <p th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}">Cvv Error</p>

                <div><input type="submit" value="Add"/></div>
            </form>

        <div th:include="fragments/footer :: pagefooter"></div>
        </div>
    </body>
</html>