<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Add CreditCard</title>
</head>

    <body>
        <h1>Add Credit Card:</h1>
        <form th:action="@{/card/add}" th:object="${card}" method="post">

            <div><label> Number : <input type="number" name="number"/> </label></div>
            <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error</p>

            <div><label> Month Expiring : <input type="number" name="expiringMonth"/> </label></div>
            <p th:if="${#fields.hasErrors('expiringMonth')}" th:errors="*{expiringMonth}">MonthExpiring Error</p>

            <div><label> Year Expiring : <input type="number" name="expiringYear"/> </label></div>
            <p th:if="${#fields.hasErrors('expiringYear')}" th:errors="*{expiringYear}">YearExpiring Error</p>

            <div><label> CVV: <input type="number" name="cvv"/> </label></div>
            <p th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}">Cvv Error</p>

            <div><input type="submit" value="Add"/></div>
        </form>
    </body>
</html>