<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    </head>
    <body>
        <div th:include="fragments/header :: pagenav"></div>
            <div style="margin-left:25%;padding:1px 16px;height:1000px;">
               <p><a th:href="@{/user/bets}"><button>Refresh</button></a> </p>
                <h2>Active Bets:</h2>
                    <div class="bets">
                        <table>
                            <tr>
                                <th>No.</th>
                                <th>Event</th>
                                <th>Horse</th>
                                <th>Registered</th>
                                <th>Bet Type</th>
                                <th>Odds Value</th>
                                <th>Bet Value</th>
                                <th>Estimated Prize</th>
                            </tr>

                            <span th:if="${#lists.isEmpty(betsActive)} == false">
                                <tr th:each="bet , iterStat : ${betsActive}" th:object="${bet}">
                                    <td th:text="${iterStat.count}"></td>
                                    <td>
                                        <p>Racecourse: <span th:text="*{event.racecourse}"/></p>
                                        <p>Distance: <span th:text="*{event.distance}"/></p>
                                        <p><a th:href="@{/event/{id}(id=*{event.id})}">Details</a></p>
                                    </td>
                                    <td th:text="*{horse.name}"><a th:href="@{/horse/{id}(id=*{horse.id})}"></a></td>
                                    <td th:text="*{#temporals.formatISO(registered)}"></td>
                                    <td th:text="*{betType}"></td>
                                    <td th:text="*{oddValue}"></td>
                                    <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                                    <td th:text="${bet.oddValue * bet.betValue}"></td>
                                </tr>
                             </span>
                      </table>
                </div>

            <div class="bets">
                <h2>Waiting Bets:</h2>
                <div class="bets">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Event</th>
                            <th>Horse</th>
                            <th>Registered</th>
                            <th>Type</th>
                            <th>Odds Value</th>
                            <th>Bet Value</th>
                            <th>Prize</th>
                        </tr>

                        <span th:if="${#lists.isEmpty(betsWaiting)} == false">
                            <tr th:each="bet , iterStat : ${betsWaiting}" th:object="${bet}">
                                <td th:text="${iterStat.count}"></td>
                                <td>
                                    <p>Racecourse: <span th:text="*{event.racecourse}"/></p>
                                    <p>Distance: <span th:text="*{event.distance}"/></p>
                                    <p><a th:href="@{/event/{id}(id=*{event.id})}">Details</a> </p>
                                </td>
                                <td th:text="*{horse.name}"></td>
                                <td th:text="*{registered}"></td>
                                <td th:text="*{betType}"></td>
                                <td th:text="*{oddValue}"></td>
                                <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                                <td th:text="${bet.oddValue * bet.betValue}"></td>
                            </tr>
                        </span>
                    </table>
                </div>
           </div>

           <div class="bets">
               <h2>Approved Bets:</h2>
             <div class="bets">
                 <table>
                    <tr>
                        <th>No.</th>
                        <th>Event </th>
                        <th>Horse</th>
                        <th>Registered</th>
                        <th>Type</th>
                        <th>Odds Value</th>
                        <th>Bet Value</th>
                    </tr>

                    <span th:if="${#lists.isEmpty(betsApproved)} == false">
                        <tr th:each="bet , iterStat : ${betsApproved}" th:object="${bet}">
                            <td th:text="${iterStat.count}"></td>
                            <td>
                                <p>Racecourse: <span th:text="*{event.racecourse}"/></p>
                                <p>Distance: <span th:text="*{event.distance}"/></p>
                                <p><a th:href="@{/event/{id}(id=*{event.id})}">Details</a> </p>
                            </td>
                            <td th:text="*{horse.name}"></td>
                            <td th:text="*{registered}"></td>
                            <td th:text="*{betType}"></td>
                            <td th:text="*{oddValue}"></td>
                            <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                        </tr>
                    </span>
                </table>
            </div>
        </div>
        </div>
        <div th:include="fragments/footer :: pagefooter"></div>
    </body>
</html>