<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome</title>
        <style>

            .bets {
                max-width: 60%;
                align-content: center;
                border: 1 px solid black;
            }
            table, td{
                padding: 10px;
            }

        </style>

    </head>
    <body>

            <div class="bets">
                <h2>Active Bets:</h2>
                    <div class="bets">
                        <table>
                            <tr>
                                <th>No.</th>
                                <th>Event ID</th>
                                <th>Racecourse</th>
                                <th>Horse</th>
                                <th>Registered</th>
                                <th>Type</th>
                                <th>Odd Value</th>
                                <th>Bet Value</th>
                                <th>Estimated Result</th>
                            </tr>

                            <div th:if="${#lists.isEmpty(betsActive)} == true">
                                <p>You have no active bets</p>
                            </div>
                            <span th:if="${#lists.isEmpty(betsActive)} == false">
                                <tr th:each="bet , iterStat : ${betsActive}" th:object="${bet}">
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="*{event.id}"></td>
                                    <td th:text="*{event.racecourse}"></td>
                                    <td th:text="*{horse.name}"></td>
                                    <td th:text="*{registered}"></td>
                                    <td th:text="*{betType}"></td>
                                    <td th:text="*{oddValue}"></td>
                                    <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                                    <td th:text="${bet.oddValue * bet.betValue}"></td>
                                </tr>
                             </span>
                      </table>
                </div>

            <div class="bets">
                <h2>Waiting Bets:</h2>
                <div class="bets">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Event ID</th>
                            <th>Racecourse</th>
                            <th>Horse</th>
                            <th>Registered</th>
                            <th>Type</th>
                            <th>Odd Value</th>
                            <th>Bet Value</th>
                            <th>Prize</th>
                        </tr>

                        <div th:if="${#lists.isEmpty(betsWaiting)} == true">
                            <p>You have no waiting bets</p>
                        </div>
                        <span th:if="${#lists.isEmpty(betsWaiting)} == false">
                            <tr th:each="bet , iterStat : ${betsWaiting}" th:object="${bet}">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="*{event.id}"></td>
                                <td th:text="*{event.racecourse}"></td>
                                <td th:text="*{horse.name}"></td>
                                <td th:text="*{registered}"></td>
                                <td th:text="*{betType}"></td>
                                <td th:text="*{oddValue}"></td>
                                <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                                <td th:text="${bet.oddValue * bet.betValue}"></td>
                            </tr>
                        </span>
                    </table>
                </div>
           </div>

           <div class="bets">
               <h2>Approved Bets:</h2>
             <div class="bets">
                 <table>
                    <tr>
                        <th>No.</th>
                        <th>Event ID</th>
                        <th>Racecourse</th>
                        <th>Horse</th>
                        <th>Registered</th>
                        <th>Type</th>
                        <th>Odd Value</th>
                        <th>Bet Value</th>
                        <th>Prize</th>
                    </tr>
                    <div th:if="${#lists.isEmpty(betsApproved)} == true">
                         <p>You have no approved bets</p>
                    </div>
                    <span th:if="${#lists.isEmpty(betsApproved)} == false">
                        <tr th:each="bet , iterStat : ${betsApproved}" th:object="${bet}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="*{event.id}"></td>
                            <td th:text="*{event.racecourse}"></td>
                            <td th:text="*{horse.name}"></td>
                            <td th:text="*{registered}"></td>
                            <td th:text="*{betType}"></td>
                            <td th:text="*{oddValue}"></td>
                            <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                            <td>0.0</td>
                        </tr>
                    </span>
                </table>
            </div>
        </div>
    </body>
</html>