<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome</title>

    </head>
    <body>

        <h3>Live Races you are currently betting on: </h3>
        <div class="events" th:each="event : ${events}" th:object="${event}">
                <div class="event" style="align-content: center; margin: 10px; border: 1px solid black; max-width: 80%">
                    <table style="text-align: center; padding: 10px; margin: 5px;">
                        <tr>
                            <td>No.</td>
                            <td >Time</td>
                            <td >Racecourse</td>
                            <td >Distance</td>
                            <td >Results</td>
                        </tr>
                        <tr>
                            <td th:text="*{startTime}"></td>
                            <td th:text="*{racecourse}"></td>
                            <td th:text="*{distance}"></td>
                            <td><a th:href="@{/event/{id}(id=${event.id})}"> View </a></td>
                        </tr>
                    </table>
                </div>
        </div>
    </body>
</html>