<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Recharge Wallet</title>
</head>

    <body>

        <div>
            <p>Current funds: </p></br>
            <p th:text="${user.funds}"></p>
        </div>

        <form th:action="@{/user/wallet/recharge}" method="post">

           <div><label> Amount : <input type="number" name="amount" placeholder="10" step="10" min="10" max="1000" /></label></div>
           <div><label><input type="hidden" name="id" th:value="${user.id}"></label></div>
           <div><input type="submit" value="Recharge"/></div>

        </form>
    </body>

</html>