<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Wallet View</title>
</head>

    <body>

        <div>
            <p >Funds:</p>
            <p th:object="${user}" th:text="*{funds}"></p>
        </div>


        <div>
            <p><a th:href="@{/user/wallet/recharge}"><button>Recharge</button></a></p>
            <p><a th:href="@{/user/wallet/withdraw}"><button>Withdraw</button></a></p>
        </div>

        <div class="fundsOperations" style="align-content: center; margin: 10px; border: 1px solid black; max-width: 80%">
        <h2>Operations:</h2>
            <table >
                <tr>
                    <th>No.</th>
                    <th>Type</th>
                    <th>Date Registered</th>
                    <th>Time Registered</th>
                    <th>Amount</th>
                </tr>
                <tr th:each="operation , iterStat : ${user.operations}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${operation.type}"></td>
                    <td th:text="${operation.registeredDate}"></td>
                    <td th:text="${operation.registeredTime}"></td>
                    <td th:text="${#numbers.formatDecimal(operation.value,1, 2)}"></td>
                </tr>
            </table>
            </div>
        </div>

        <div class="betsOperations" style="align-content: center; margin: 10px; border: 1px solid black; max-width: 80%">
        <h2>Bets:</h2>
            <table>
                <tr>
                    <th>No.</th>
                    <th>Horse</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Prize</th>
                </tr>
                <tr th:each="bet , iterStat : ${user.bets}" th:object="${bet}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${bet.horse}"></td>
                <td th:text="${bet.betType}"></td>
                <td th:text="${bet.registered}"></td>
                <td th:text="${#numbers.formatDecimal(bet.betValue,1, 2)}"></td>
                <td>Prize</td>
                </tr>
            </table>
        </div>

        </div>
    </body>

</html>