<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Withdraw Funds</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <style>
                        .container {
                            max-width: 50%;
                            background-color: #fbfbfb;
                            align-content: center;
                            text-align: center;
                            padding: 20px;
                            margin: 0 auto ;
                        }
                    </style>
</head>

    <body>
        <div th:include="fragments/header :: pagenav"></div>
        <div style="margin-left:25%;padding:1px 16px;height:1000px;">

          <div class="container">

            <div>
                <p>Current funds: </p></br>
                <p th:text="${user.funds}"></p>
            </div>

            <form th:action="@{/wallet/withdraw}" method="post">

               <p>Amount : </p>
                <input type="number" name="amount" step="0.1" min="0" th:max="${user.funds}"/>
               <p><input type="hidden" name="id" th:value="${user.id}"></p>
               <p><input type="submit" value="Withdraw"/></p>

            </form>

            </div>

            <div th:include="fragments/footer :: pagefooter"></div>

        </div>
    </body>
</html>