<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    </head>

    <body>

        <div th:include="fragments/header :: pagenav"></div>
        <div style="margin-left:25%;padding:1px 16px;height:1000px;">

          <h2>Welcome <span sec:authentication="name"></span> !</h2>

            <table>
                <tr >
                    <td th:colspan="3" th:style="|background-color:rgb(146,38,19);color:white;|">Events</td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{/home/previous}" method="post">
                        <input type="hidden" name="date" th:value="${date}"/>
                        <input type="submit" value="< Previous "/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/home}" method="get">
                        <input type="submit" value="Today"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/home/next}" method="post">
                        <input type="hidden" name="date" th:value="${date}"/>
                        <input type="submit" value="Next>"/>
                        </form>
                    </td>
                </tr>
                </table>


       <span th:if="${#lists.isEmpty(upcomingEvents)} == false">
        <h2>Upcoming Events:</h2>
         <div class="events" >
            <div>
               <table >
                    <tr>
                        <th >Date</th>
                        <th >Time</th>
                        <th >Racecourse</th>
                        <th >Distance</th>
                        <th >Details</th>
                   </tr>
                   <tr th:each="event : ${upcomingEvents}" th:object="${event}">
                        <td th:text="*{startDate}"></td>
                        <td th:text="*{startTime}"></td>
                        <td th:text="*{racecourse}"></td>
                        <td th:text="*{distance}"></td>
                        <td><a th:href="@{/event/{id}(id=${event.id})}"> View </a></td>
                   </tr>
               </table>
            </div>
         </div>
        </span>

        <span th:if="${#lists.isEmpty(liveEvents)} == false">
         <h2>Live Events:</h2>
                  <div>
                     <div >
                        <table >
                             <tr>
                                 <th >Date</th>
                                 <th >Time</th>
                                 <th >Racecourse</th>
                                 <th >Distance</th>
                                 <th >Results</th>
                            </tr>
                            <tr th:each="event : ${liveEvents}" th:object="${event}">
                                 <td th:text="*{startDate}"></td>
                                 <td th:text="*{startTime}"></td>
                                 <td th:text="*{racecourse}"></td>
                                 <td th:text="*{distance}"></td>
                                 <td><a th:href="@{/event/{id}(id=${event.id})}"> View </a></td>
                            </tr>
                        </table>
                     </div>
                  </div>
              </span>

              <span th:if="${#lists.isEmpty(endedEvents)} == false">
                       <h2>Ended Events:</h2>
                                <div class="events" >
                                   <div >
                                      <table >
                                           <tr>
                                               <th >Date</th>
                                               <th >Time</th>
                                               <th >Racecourse</th>
                                               <th >Distance</th>
                                               <th >Results</th>
                                          </tr>
                                          <tr th:each="event : ${endedEvents}" th:object="${event}">
                                               <td th:text="*{startDate}"></td>
                                               <td th:text="*{startTime}"></td>
                                               <td th:text="*{racecourse}"></td>
                                               <td th:text="*{distance}"></td>
                                               <td><a th:href="@{/event/{id}(id=${event.id})}"> View </a></td>
                                          </tr>
                                      </table>
                                   </div>
                                </div>
                            </span>
            </div>
         <div th:include="fragments/footer :: pagefooter"></div>
       </body>
</html>