<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Welcome</title>
</head>

    <body>

          <div sec:authorize="!isAuthenticated()">
               <p><a th:href="@{/register}"><button>Register</button></a></p>
               <p><a th:href="@{/login}"><button>Log In</button></a></p>
          </div>

        <div sec:authorize="isAuthenticated()">
            <p>Welcome <span sec:authentication="name"></span>!</p>
        </div>

    </body>

</html>
